/* Reset básico para garantir consistência entre navegadores */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Container geral para centralizar o conteúdo */
.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

/* Estilizando o cabeçalho */
header {
    background: #555555;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 14px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Estilizando a seção 'Sobre' */
section.Sobre {
    background: #fff;
    padding: 2rem 0;
    text-align: center;
}

section.Sobre h1 {
    font-size: 20;
    margin-bottom: 1rem;
    color: #333;
}

section.Sobre p {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 20;
}

section.Sobre img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilizando o rodapé */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    font-size: 20;
}



